#header {
  background-color: blanchedalmond;
  color: black;
  padding: 20px;
  text-align: right;
  margin: 0px;
  }

#studentinfo {
 background-color: peachpuff;
 color: black;
 padding: 10px;
 margin: 0px;
 text-align: right;
 }

#studentGrades {
 background-color: bisque;
 margin: 0px;
 width: 100%;
 }

#currentgrade {
  background-color: beige;
  font-size: 120%;
  margin: 0px;
  text-align: right;
  padding: 10
  px;
}

#currentgrade label {
  font-weight: inherit;
}

#currentgrade span {
  font-weight: bolder;
  font-style: italic;
}
